@font-face {
    font-family: 'Work Sans';
    src: url('/src/assets/fonts/WorkSans-Regular.woff2') format('woff2'),
        url('/src/assets/fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

